.enemy-menu {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;

  .enemy-list {
    display: flex;
    flex-direction: column;

    .enemy-item {
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-bottom: 5px;

      img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }

      &:hover {
        background-color: #ddd;
      }
    }
  }
}
button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgba(26, 26, 26, 0.9);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: rgb(26, 26, 26);
  }
}
